@use '../abstracts/__mixins' as mx;

$message-success: var(--message-success-rgb);
$message-warning: var(--message-warning-rgb);
$message-info: var(--message-info-rgb);
$message-error: var(--message-error-rgb);

$messages:
	'success'  		$message-success,
	'warning'  		$message-warning,
	'info' 			$message-info,
	'error'    		$message-error;

.message {
	@include mx.flex(row, flex-start, center, $gap: var(--sp-2));
	padding: var(--sp-2) var(--sp-3);
	border-radius: var(--sp-1);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-medium);
	width: 100%;
	border: 1px solid transparent;
	transition: filter 0.2s linear;
	line-height: 0;

	svg {
		vertical-align: middle;
		height: 100%;
	}

	@each $name, $colorVar in $messages {
		&.message--#{$name} {
			background-color: rgba($colorVar, 0.25);
			border: 1px solid rgba($colorVar, 1);
			color: var(--body-color);
		}
	}

	&:hover {
		filter: brightness(1.1);
	}
}
