*,
*::before,
*::after {
	box-sizing: border-box;
	margin: var(--sp-0);
	padding: var(--sp-0);
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--link-hover-color);
	border-radius: var(--sp-1);
}

::-webkit-scrollbar-track {
	background: rgb( var(--area-background-dark) );
}

::selection {
	color: var(--body-background);
	background-color: #89bfff;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	-webkit-text-size-adjust: 100%;

	&.lenis {
		height: auto;

		body {
			height: auto;
		}
	}
}

body {
	height: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeSpeed;
	background-color: var(--body-background);
	color: var(--body-color);
	font-family: var(--font-family-base), sans-serif;
	font-size: var(--font-size-base);
	overflow-wrap: break-word;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: var(--sp-0);
	padding: var(--sp-0);
	font-size: inherit;
	font-weight: inherit;
	white-space: break-spaces;
	overflow-wrap: break-word;
}

p {
	white-space: break-spaces;
}

a, a:active, a:visited, a:link {
	color: var(--body-color);
	text-decoration: none;
	transition: color 0.2s linear;

	&:hover {
		color: var(--primary-color);
	}
}

input, button, textarea, select {
	font: inherit;
	color: inherit;
}

button {
	border: none;
	background: none;
	padding: var(--sp-0);
	cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

* {
	-webkit-tap-highlight-color: transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
	line-height: normal;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: var(--sp-0);
}

:focus-visible {
	outline: 0px;
}

[hidden] {
	display: none !important;
}

[disabled] {
	cursor: not-allowed;
	opacity: 0.7;
}

img {
	vertical-align: middle;
}